Repository skynettoday/skynet-today, pull requests merged in 2020-12, with the labels that each got.

#201 Definition of AI editorial
  _posts/editorials/2020-12-01-ai-definition.md
  _posts/overviews/2020-11-19-state-of-deepfakes-2020.md
  assets/img/editorials/2020-12-01-ai-definition/main.png
Labels: editorial, release

#203 alphafold 2 brief
  _data/authors.yml
  _posts/briefs/2020-12-09-alphafold2.md
  _posts/editorials/2020-12-01-ai-definition.md
  assets/img/authors/zero_gravitas.jpg
  assets/img/briefs/alphafold2/image1.png
  assets/img/briefs/alphafold2/image2.png
  assets/img/briefs/alphafold2/main.webp
Labels: brief

#205 digest 96
  _posts/digests/2020-12-21-96.md
  assets/img/digests/96/4480.jpg
Labels: digest

#206 2020 digest
  _posts/briefs/2020-12-09-alphafold2.md
  _posts/digests/2020-08-16-78.md
  _posts/digests/2020-12-28-2020.md
  assets/img/digests/year-2020/companies.png
  assets/img/digests/year-2020/counts.png
  assets/img/digests/year-2020/terminology.png
  assets/img/digests/year-2020/topics.png
  assets/img/digests/year-2020/wordcloud.png
Labels: digest, release
